<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Lista de Produtos</title>
</head>
<body>
    <div style="position: fixed; left: 0; top: 0; height: 100%; width: 20%; background-color: #f9f9f9; border-right: 1px solid #ddd; display: flex; flex-direction: column; align-items: center; padding: 20px; box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); overflow-y: auto; scrollbar-width: thin; scrollbar-color: #888 #f9f9f9;">
        <!-- Foto do Perfil -->
        <img src="/media/images/1725844945375.jpg" alt="Descrição da Imagem" style="width: 70%; height: 30%; border-radius: 50%; margin-bottom: 10%;">
    
        <!-- Nome do Usuário -->
        <a href="https://www.linkedin.com/in/rafaeljunior/"  style="color: inherit; text-decoration: none;">
        <h1 style="font-size: 150%; margin: 0; font-weight: bold;">Rafael Junior</h1>
        </a>
        <!-- Descrição do Usuário -->
        <p style="font-size: 100%; color: #555; margin: 10px 0; text-align: center;">Software Developer. Graduated in Systems Development Technician from SENAI.</p>
    
        <!-- Lista de Projetos -->
        <ul style="list-style-type: none; padding: 0; margin: 10px 0; width: 100%; text-align: center;">
            <li style="font-size: 100%; color: #333; margin: 5% 0;">
                <a href="https://github.com/rafaeljrcampos/gestao_churrascaria" target="_blank" style="color: inherit; text-decoration: none;">Gestão de Churrascaria</a>
                <p style="font-size: 100%; color: #555; margin: 5px 0; text-align: center;">Aplicação em Python para gestão de produtos de churrascaria, permitindo adicionar e gerenciar itens do menu com detalhes como quantidade, preços e outras informações.</p>
            </li>
            <li style="font-size: 100%; color: #333; margin: 5% 0;">
                <a href="https://github.com/rafaeljrcampos/Projeto-RPG-Controlador" target="_blank" style="color: inherit; text-decoration: none;">Projeto de gestão para RPG</a>
                <p style="font-size: 100%; color: #555; margin: 5px 0; text-align: center;">Projeto para controle de personagens em RPG, ideal para jogadores e mestres. Permite gerenciar atributos, equipamentos e habilidades de forma prática e intuitiva. 🎲✨ Perfeito para quem busca simplicidade e eficiência nas campanhas.</p>
            </li>
        </ul>
    </div>  
    
    <!-- Adicionando um contêiner ao lado -->
    <div style="margin-left: 30%; display: block; ">
        <a href="URL_DO_DESTINO">
            <img src="/media/images/project_one.png" alt="Descrição da Imagem" style="border-radius: 5%; margin-bottom: 10%;">
        </a>
        <a href="URL_DO_DESTINO">
            <img src="/media/images/project_one.png" alt="Descrição da Imagem" style="border-radius: 5%; margin-bottom: 10%;">
        </a>
    </div>
    
    
    
    
    
</body>
</html>